<div class="page-inner" style="width:100%">
    <div class="page-title">
        <h3 class="breadcrumb-header">
            Projetos
            <i class="fa-solid fa-plus" id="addProjectIcon"></i>
        </h3>
        <div id="projectForm" class="mt-3" style="display:none;">
            <form>
                <div class="form-group">
                    <label for="projectName">Nome do Projeto:</label>
                    <input type="text" class="form-control" id="projectName" name="projectName">
                </div>
                <button type="submit" class="btn btn-primary mt-2">Salvar</button>
                <button type="button" class="btn btn-secondary mt-2" id="closeFormButton">Fechar</button>
            </form>
        </div>
    </div>
    <!-- start page main wrapper -->
    <div id="main-wrapper">
        <div class="row">

            <div class="page-inner">
                <!-- start page main wrapper -->
                <div id="main-wrapper">
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-6">
                            <div class="card card-white stats-widget">
                                <div class="card-body">
                                    <h5 class="card-title">Argus <i class="fa-solid fa-plus" id="addProjectCard"></i></h5>
                                    <p class="card-text">
                                        Versão Atual:  2.0<strong>

                                            @*   @if (item.UltimoPacote != null && item.UltimoPacote.NumVersao != null)
                                            {
                                            @item.UltimoPacote.NumVersao *@
                                            <button type="button" class="ml-1" style="border:hidden;" @* onclick="CarregarProjeto('@item.Projeto.NomProjeto','@item.Projeto.IdProjeto')" *@ data-toggle="modal" data-target="#projectModalEditarProjeto">@* <i class="fa-solid  fa-pen-to-square cor-icon-edit"></i> *@</button>
                                            @*  }
                                            else
                                            { *@
                                            N/A versões.
                                            <button type="button" class="ml-1" style="border:hidden;" @* onclick="CarregarProjeto('@item.Projeto.NomProjeto','@item.Projeto.IdProjeto')" *@ data-toggle="modal" data-target="#projectModalEditarProjeto">@* <i class="fa-solid  fa-pen-to-square cor-icon-edit"></i> *@</button>
                                            <button type="button" class="ml-1" style=" border:hidden;" @* onclick="CarregarProjetoDelete('@item.Projeto.IdProjeto')" *@ data-toggle="modal" data-target="#projectModalDeleteProjeto">@* <i class="fa-regular fa-trash-can cor-icon-delete"> *@</i></button>
                                            @*  } *@
                                            <div id="projectFormCard" class="mt-3" style="display:none;">
                                                <form asp-controller="Projetos" asp-action="Edit" method="post">
                                                    <div class="form-group">
                                                        <label>Nome: </label>
                                                        <input @* asp-for="Projeto.NomProjeto" *@id="proj" class="form-control" placeholder="Projeto" />
                                                    </div>

                                                    <input type="hidden" name="id" id="idProjeto" />

                                                    <div class="modal-footer">
                                                        <div class="form-group">
                                                            <input type="submit" value="Cadastrar" class="btn btn-secondary" />
                                                        </div>
                                                        <button type="button" class="btn btn-light" data-dismiss="modal">Fechar</button>
                                                    </div>
                                                </form>
                                            </div>

                                        </strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Row -->
    </div>
    <!-- end page main wrapper -->
    <div class="page-footer">
        <p>Copyright &copy; <span class="current-year"></span> MPM/DF.</p>
    </div>
</div>


<script>
    document.getElementById("addProjectIcon").addEventListener("click", function () {
        document.getElementById("projectForm").style.display = "block";
    });

    document.getElementById("closeFormButton").addEventListener("click", function () {
        document.getElementById("projectForm").style.display = "none";
    });

    document.getElementById("addProjectCard").addEventListener("click", function () {
        document.getElementById("projectFormCard").style.display = "block";
    });

    document.getElementById("addProjectCard").addEventListener("click", function () {
        document.getElementById("projectFormCard").style.display = "none";
    });
</script>

